    @Html.Partial("_Header")
        <div class="page-header">
            <h1>Medicamento</h1>
        </div>
        <form id="formBuscar" class="form-inline">
            <div class="input-group">
                <input id="txtBuscarNombre" type="text" class="form-control" placeholder="Buscar por nombre">
            </div>
            <div class="input-group">
                <input id="btnBuscarMedicamento" type="submit" class="btn btn btn-primary" value="Buscar">
            </div>
        </form>
        <button id="btnAgregar" type="button" class="btn btn-success pull-right" data-toggle="modal" data-target="#modalMedicamento">Agregar</button>
        <div class="table-resposive">
            <table id="tableMedicamento" class="table table-striped">
                <thead>
                    <tr>
                        <th id="thCodigo">Codigo</th>
                        <th id="thNombre">Nombre</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div id="modalMedicamento" class="modal fade" tabindex="1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content  col-xs-8 col-xs-offset-2">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body">
                        <form id="formMedicamento">
                            <div class="form-group">
                                <label for="txtCodigo">Codigo</label>
                                <input id="txtCodigo" type="text" class="form-control" placeholder="Codigo" required>
                            </div>
                            <div class="form-group">
                                <label for="txtNombre">Nombre</label>
                                <input id="txtNombre" type="text" class="form-control" placeholder="Nombre" required>
                            </div>
                            <div class="form-group">
                                <label for="txtObservaciones">Observaciones</label>
                                <textarea id="txtObservaciones" rows="5" class="form-control" placeholder="Observaciones" required></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <div class="form-group">
                            <input id="btnAgregarModal" type="submit" form="formCliente" class="btn btn-success" value="Agregar">
                            <input id="btnModificarModal" type="submit" form="formCliente" class="btn btn-primary" value="Modificar">
                            <input id="btnEliminarModal" type="submit" form="formCliente" class="btn btn-warning" value="Eliminar">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $("#formBuscar").submit(function (event) {
                event.preventDefault();
                cargarTabla();
            });


            $("#btnAgregar").click(function () {
                modificarTituloModal("Agregar Medicamento");
                $("#btnAgregarModal").css("display", "inline-block");
                $("#btnModificarModal").css("display", "none");
                $("#btnEliminarModal").css("display", "none");
            });

            $(".container").on("click", ".btnVer", function () {
                modificarTituloModal("Medicamento");
                $("#btnAgregarModal").css("display", "none");
                $("#btnModificarModal").css("display", "none");
                $("#btnEliminarModal").css("display", "none");
                cargarModal($(this).data("id"));
            });

            $(".container").on("click", ".btnModificar", function () {
                modificarTituloModal("Modificar Medicamento");
                $("#btnAgregarModal").css("display", "none");
                $("#btnModificarModal").css("display", "inline-block");
                $("#btnEliminarModal").css("display", "none");
                cargarModal($(this).data("id"));
            });

            $(".container").on("click", ".btnEliminar", function () {
                modificarTituloModal("Eliminar Medicamento");
                $("#btnAgregarModal").css("display", "none");
                $("#btnModificarModal").css("display", "none");
                $("#btnEliminarModal").css("display", "inline-block");
                cargarModal($(this).data("id"));
            });

            $("#formMedicamento").submit(function (event) {
                event.preventDefault();
                cargarTabla();
            });

            $("#modalMedicamento").on("hidden.bs.modal", function () {
                $("#txtCodigo").val("");
                $("#txtNombre").val("");
                $("#txtObservaciones").val("");
                cargarTabla();
            });

            $(".container").on("click", "#btnAgregarModal", function () {
                $.ajax({
                    url: "@Url.Action("agregarMedicamento", "Medicamento")",
                    type: "POST",
                    data: { nombre: $("#txtNombre").val(), observaciones: $("#txtObservaciones").val()},
                    success: function (row) {
                        alert("Producto agregado con exito.");
                        $('#modalMedicamento').modal('toggle');
                    }
                });
            });

            $(".container").on("click", "#btnModificarModal", function () {
                $.ajax({
                    url: "@Url.Action("modificarMedicamento", "Medicamento")",
                    type: "POST",
                    data: { id: $("#txtCodigo").val(), nombre: $("#txtNombre").val(), observaciones: $("#txtObservaciones").val(), visible: true},
                    success: function (row) {
                        alert("Producto modificado con exito.");
                        $('#modalMedicamento').modal('toggle');
                    }
                });
            });

            $(".container").on("click", "#btnEliminarModal", function () {
                $.ajax({
                    url: "@Url.Action("modificarMedicamento", "Medicamento")",
                    type: "POST",
                    data: { id: $("#txtCodigo").val(), nombre: $("#txtNombre").val(), observaciones: $("#txtObservaciones").val(), visible: false},
                    success: function (row) {
                        alert("Producto eliminado con exito.");
                        $('#modalMedicamento').modal('toggle');
                    }
                });
            });

            function cargarModal(idMedicamento) {
                $.ajax({
                    url: "@Url.Action("obtenerMedicamento", "Medicamento")",
                    type: "POST",
                    data: { id: idMedicamento},
                    success: function (row) {
                        $("#txtCodigo").val(row.ID);
                        $("#txtNombre").val(row.NOMBRE);
                        $("#txtObservaciones").val(row.OBSERVACIONES);
                    }
                });
            }

            function cargarTabla() {
                $("#tableMedicamento tbody").empty();
                $.ajax({
                    url: "@Url.Action("obtenerMedicamentos", "Medicamento")",
                    type: "POST",
                    data: { nombre: $("#txtBuscarNombre").val() },
                    success: function (result) {
                        $.each(result, function (index, row) {
                            $("#tableMedicamento").append("<tr><td>" + row.ID + "</td><td>" + row.NOMBRE + "</td><td><button data-id='" + row.ID + "' class='btn btn-info btnVer' data-toggle='modal' data-target='#modalMedicamento'>Ver</button></td><td><button data-id='" + row.ID + "' class='btn btn-primary btnModificar' data-toggle='modal' data-target='#modalMedicamento'>Modificar</button></td><td><button data-id='" + row.ID + "' class='btn btn-warning btnEliminar' data-toggle='modal' data-target='#modalMedicamento'>Eliminar</button></td></tr>");
                        });
                    }
                });
            }

            $(document).ready(function () {
                cargarTabla();
            });
        </script>      
    @Html.Partial("_Footer")