@Html.Partial("_Header")
<div class="page-header">
    <h1>Hospital</h1>
</div>
<form id="formBuscar" class="form-inline">
    <div class="input-group">
        <input id="txtBuscarNombre" type="text" class="form-control" placeholder="Buscar Hospital">
    </div>
    <div class="input-group">
        <input id="btnBuscarHospital" type="submit" class="btn btn btn-primary" value="Buscar">
    </div>
</form>
<button id="btnAgregar" type="button" class="btn btn-success pull-right" data-toggle="modal" data-target="#modalHospital">Agregar</button>
<div class="table-resposive">
    <table id="tableHospital" class="table table-striped">
        <thead>
            <tr>
                <th id="thCodigo">Codigo</th>
                <th id="thNombre">Hospital</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<div id="modalHospital" class="modal fade" tabindex="1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content  col-xs-8 col-xs-offset-2">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <form id="formHospital">
                    <div class="form-group">
                        <label for="txtCodigo">Codigo</label>
                        <input id="txtCodigo" type="text" class="form-control" placeholder="Codigo" disabled>
                    </div>
                    <div class="form-group">
                        <label for="txtNombre">Hospital</label>
                        <input id="txtNombre" type="text" class="form-control" placeholder="Hospital" required>
                    </div>
                    <div class="form-group">
                        <label for="txtDireccion">Direccion</label>
                        <textarea id="txtDireccion" rows="5" class="form-control" placeholder="Direccion" required></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <input id="btnAgregarModal" type="submit" form="formHospital" class="btn btn-success" value="Agregar">
                    <input id="btnModificarModal" type="submit" form="formHospital" class="btn btn-primary" value="Modificar">
                    <input id="btnEliminarModal" type="submit" form="formHospital" class="btn btn-warning" value="Eliminar">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("#formBuscar").submit(function (event) {
        event.preventDefault();
        cargarTabla();
    });


    $("#btnAgregar").click(function () {
        modificarTituloModal("Agregar Hospital");
        $("#btnAgregarModal").css("display", "inline-block");
        $("#btnModificarModal").css("display", "none");
        $("#btnEliminarModal").css("display", "none");
    });

    $(".container").on("click", ".btnVer", function () {
        modificarTituloModal("Hospital");
        $("#btnAgregarModal").css("display", "none");
        $("#btnModificarModal").css("display", "none");
        $("#btnEliminarModal").css("display", "none");
        cargarModal($(this).data("id"));
    });

    $(".container").on("click", ".btnModificar", function () {
        modificarTituloModal("Modificar Hospital");
        $("#btnAgregarModal").css("display", "none");
        $("#btnModificarModal").css("display", "inline-block");
        $("#btnEliminarModal").css("display", "none");
        cargarModal($(this).data("id"));
    });

    $(".container").on("click", ".btnEliminar", function () {
        modificarTituloModal("Eliminar Hospital");
        $("#btnAgregarModal").css("display", "none");
        $("#btnModificarModal").css("display", "none");
        $("#btnEliminarModal").css("display", "inline-block");
        cargarModal($(this).data("id"));
    });

    $("#formHospital").submit(function (event) {
        event.preventDefault();
        cargarTabla();
    });

    $("#modalHospital").on("hidden.bs.modal", function () {
        $("#txtCodigo").val("");
        $("#txtNombre").val("");
        $("#txtDireccion").val("");
        cargarTabla();
    });

    $(".container").on("click", "#btnAgregarModal", function () {
        $.ajax({
            url: "@Url.Action("agregarHospital", "Hospital")",
            type: "POST",
            data: { nombre: $("#txtNombre").val(), direccion: $("#txtDireccion").val()},
            success: function (row) {
                alert("Hospital agregado con exito.");
                $('#modalHospital').modal('toggle');
            }
        });
    });

    $(".container").on("click", "#btnModificarModal", function () {
        $.ajax({
            url: "@Url.Action("modificarHospital", "Hospital")",
            type: "POST",
            data: { id: $("#txtCodigo").val(), nombre: $("#txtNombre").val(), direccion: $("#txtDireccion").val(), visible: true},
            success: function (row) {
                alert("Hospital modificado con exito.");
                $('#modalHospital').modal('toggle');
            }
        });
    });

    $(".container").on("click", "#btnEliminarModal", function () {
        $.ajax({
            url: "@Url.Action("modificarHospital", "Hospital")",
            type: "POST",
            data: { id: $("#txtCodigo").val(), nombre: $("#txtNombre").val(), direccion: $("#txtDireccion").val(), visible: false},
            success: function (row) {
                alert("Hospital eliminado con exito.");
                $('#modalHospital').modal('toggle');
            }
        });
    });

    function cargarModal(idHospital) {
        $.ajax({
            url: "@Url.Action("obtenerHospital", "Hospital")",
            type: "POST",
            data: { id: idHospital},
            success: function (row) {
                $("#txtCodigo").val(row.ID);
                $("#txtNombre").val(row.NOMBRE);
                $("#txtDireccion").val(row.DIRECCION);
            }
        });
    }

    function cargarTabla() {
        $("#tableHospital tbody").empty();
        $.ajax({
            url: "@Url.Action("obtenerHospitales", "Hospital")",
            type: "POST",
            data: { nombre: $("#txtBuscarNombre").val() },
            success: function (result) {
                $.each(result, function (index, row) {
                    $("#tableHospital").append("<tr><td>" + row.ID + "</td><td>" + row.NOMBRE + "</td><td><button data-id='" + row.ID + "' class='btn btn-info btnVer' data-toggle='modal' data-target='#modalHospital'>Ver</button></td><td><button data-id='" + row.ID + "' class='btn btn-primary btnModificar' data-toggle='modal' data-target='#modalHospital'>Modificar</button></td><td><button data-id='" + row.ID + "' class='btn btn-warning btnEliminar' data-toggle='modal' data-target='#modalHospital'>Eliminar</button></td></tr>");
                });
            }
        });
    }

    $(document).ready(function () {
        cargarTabla();
    });
</script>
@Html.Partial("_Footer")